/* improve main page */
main {
    border-radius: 20px;
    border: 2px solid var(--sidebar-bg);
    padding-left: 25px;
    padding-right: 25px;
}

/* improve titles lisibility */
h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }

h2, h3 {
    margin-top: 1.5em;
}

/* improve quotes */
blockquote {
    border-radius: 20px;
}

/* remove print button */
.right-buttons {
    display: none;
}

/* link top title */
.menu-title {
    transition: 0.1s;
    /*display: none;*/
    margin-right: 0;
    margin-left: auto;
}

/* link top title */
.menu-title>a {
    text-decoration: none;
    color: var(--sidebar-active);
}

.menu-title:hover {
    font-weight: bold;
}