
/* ----------------------------------------------------------------*/
/* product logo in the nav section */
img.nav-logo {
    width: 48px;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
}

/* ----------------------------------------------------------------*/
/* bigger part titles */
.chapter li.part-title {
    font-size: 18px;
}

/* ----------------------------------------------------------------*/
/* space chapter items */
.chapter li>div {
    padding: 3px 10px 3px 10px;
    display: block;
    width: 100%;
    height: 100%;
}
.chapter li>a {
    padding: 3px 10px 3px 10px;
    display: block;
    width: 100%;
    height: 100%;
}
.chapter li.chapter-item {
    margin-top: 0.2em;
    align-items: center; /* horizontal align */
}

/* ----------------------------------------------------------------*/
/* chapters feedback */
.chapter li.chapter-item {
    color: var(--sidebar-fg); /* text color */
    padding-right: 5px; /* make sure the chevron is correctly covered */
}
/* chapters feedback on hover */
.chapter li.chapter-item:hover {
    background-color: var(--table-header-bg);
    border-radius: 3px;
    cursor: pointer;
}
/* chapters feedback on active */
.chapter li>a.active {
    background-color: var(--table-header-bg);
    border-radius: 3px;
    color: white;
    margin-right: -4px; /* fix small gap with the container */
}
/* section feedback */
.section {
    list-style: none outside none;
    padding-left: 10px;
    line-height: 1.9em;
    border-left: 1px solid;
    margin-left: 12px;
}
/* ----------------------------------------------------------------*/
/* chevron rotation on click */
.nav-svg-rotate-0 {
    transform: rotate(-90deg); /* Rotate the icon 180 degrees */
    transition: transform 0.3s ease; /* Add a smooth transition */
}
.nav-svg-rotate-90 {
    transform: rotate(0deg); /* Rotate the icon 180 degrees */
    transition: transform 0.3s ease; /* Add a smooth transition */
}
/* ----------------------------------------------------------------*/
/* title and subtitle */
.summary-title-container{
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.summary-title{
    font-weight: bold;
    font-size: x-large;
}

.summary-subtitle{
    font-weight: normal;
    font-style: italic;
}